In [2]:
#from src import *

import os

In [3]:
os.chdir('d:/Courses/Pau_ML_course/')

In [4]:
os.getcwd()

'd:\\Courses\\Pau_ML_course'

In [5]:
# reload everytime we import a new module in .py file
%reload_ext autoreload
%autoreload 2

In [6]:
from src.data_processing import load_raw_data, transform_raw_data_into_ts_data

### Fetch all the data of year 2022

In [7]:
rides = load_raw_data(year= 2022)

File for 2022-01 already exists in local directory
File for 2022-02 already exists in local directory
File for 2022-03 already exists in local directory
File for 2022-04 already exists in local directory
File for 2022-05 already exists in local directory
File for 2022-06 already exists in local directory
File for 2022-07 already exists in local directory
File for 2022-08 already exists in local directory
File for 2022-09 already exists in local directory
File for 2022-10 already exists in local directory
File for 2022-11 already exists in local directory
File for 2022-12 already exists in local directory

In [8]:
rides

            pickup_datetime  pickup_location_id
0       2022-01-01 00:35:40                 142
1       2022-01-01 00:33:43                 236
2       2022-01-01 00:53:21                 166
3       2022-01-01 00:25:21                 114
4       2022-01-01 00:36:48                  68
...                     ...                 ...
3399544 2022-12-31 23:46:00                  16
3399545 2022-12-31 23:13:24                  75
3399546 2022-12-31 23:00:49                 168
3399547 2022-12-31 23:02:50                 238
3399548 2022-12-31 23:00:15                  85

[39654634 rows x 2 columns]

In [9]:
ts_data = transform_raw_data_into_ts_data(rides)

100%|██████████| 262/262 [00:05<00:00, 47.14it/s]

In [10]:
ts_data

                pickup_hour  rides_count  pickup_location_id
0       2022-01-01 00:00:00           11                   4
1       2022-01-01 01:00:00           15                   4
2       2022-01-01 02:00:00           26                   4
3       2022-01-01 03:00:00            8                   4
4       2022-01-01 04:00:00            9                   4
...                     ...          ...                 ...
2295115 2022-12-31 19:00:00            0                 199
2295116 2022-12-31 20:00:00            0                 199
2295117 2022-12-31 21:00:00            0                 199
2295118 2022-12-31 22:00:00            0                 199
2295119 2022-12-31 23:00:00            0                 199

[2295120 rows x 3 columns]

### Transform the Time series data into tabular data

In [11]:
from src.data_processing import tranform_ts_data_into_features_and_target

In [13]:
features, target = tranform_ts_data_into_features_and_target(
    ts_data, 
    input_seq_len= 24*28*1, # one month
    step_size= 24
)

100%|██████████| 262/262 [01:20<00:00,  3.24it/s]

features.shape = (88294, 674)
target.shape = (88294,)

In [16]:
print(f"{features.shape = }")
print(f"{target.shape = }")

features.shape = (88294, 675)
target.shape = (88294,)

In [18]:
tabular_data = features
tabular_data["target_rides_next_hour"] = target

In [19]:
from src.paths import TRANSFORMED_DATA_DIR

In [20]:
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / "tabular_data.parquet")